.listContainer {
  background-color: rgb(92, 92, 92);
  height: 700px;
  overflow: scroll;
  position: relative;
}

.listItemContainer {
  border: 1px solid white;
  padding: 0 2rem;
}

.no-mammals-container {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 300px;
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.no-mammals-container p {
  color: red;
  font-size: 2rem;
  line-height: 1.5em;
}

.filter-btn {
  margin: 2rem;
}
